* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  font-family: "Playfair Display", serif;
}

.photoblog {
  display: flex;
  flex-wrap: wrap;
  width: 90vw;
  margin: 0 auto;
  justify-content: center;
  row-gap: 130px;
  -moz-column-gap: 65px;
       column-gap: 65px;
}
.photoblog__card {
  width: 30vw;
}
.photoblog__card--text1 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #B4AD9E;
}
.photoblog__card--title {
  font-weight: 400;
  font-size: 30px;
  color: var(--photoblogtitlecolor);
  color: #626262;
}
.photoblog__card--text2 {
  font-weight: 400;
  font-size: 14px;
  color: #626262;
}
.photoblog__card--img {
  border-radius: 15px;
  margin-bottom: 30px;
}

.button {
  font-weight: 400;
  font-size: 14px;
  width: 165px;
  height: 60px;
  color: #626262;
  position: relative;
  left: 510px;
  border-radius: 15px;
}

.container {
  width: 1206px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  margin-bottom: 50px;
}
.header__menu {
  display: flex;
  justify-content: space-around;
}
.header__menu--link {
  font-weight: 800;
  font-size: 14px;
  text-decoration: none;
  color: #7D7D7D;
}
.header__menu--link:hover {
  color: #03A9F4;
}