body {
  font-family: "Playfair Display", serif;
}

.photoblog {
  display: flex;
  flex-wrap: wrap;
  width: 906px;
  margin: 0 auto;
  justify-content: space-between;
}
.photoblog-text1 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #B4AD9E;
}
.photoblog-title {
  font-weight: 400;
  font-size: 30px;
  color: var(--photoblogtitlecolor);
  color: #626262;
}
.photoblog-text2 {
  font-weight: 400;
  font-size: 14px;
  color: #626262;
}
.photoblog-img {
  border-radius: 15px;
}

.button {
  font-weight: 400;
  font-size: 14px;
  width: 165px;
  height: 60px;
  color: #626262;
  position: relative;
  left: 510px;
  border-radius: 15px;
}

.container {
  width: 1206px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container1 {
  width: 420px;
  height: 546px;
  padding: 0px 0px 0px 0px;
}

.container2 {
  width: 420px;
  height: 546px;
  padding: 0px 0px 0px 0px;
}

.container3 {
  width: 421px;
  height: 516px;
  padding: 0px 0px 0px 0px;
}

.container4 {
  width: 420px;
  height: 516px;
  padding: 0px 0px 0px 0px;
}

.container5 {
  width: 420px;
  height: 516px;
  padding: 0px 0px 0px 0px;
}

.container6 {
  width: 420px;
  height: 516px;
  padding: 0px 0px 0px 0px;
}

.header {
  margin-bottom: 50px;
}
.header-link {
  font-weight: 400;
  font-size: 14px;
  text-decoration: none;
  color: #7D7D7D;
}
.header-link:hover {
  color: #03A9F4;
}
.header-menu {
  display: flex;
  justify-content: space-around;
}