$text1color: #B4AD9E;
$linkcolor: #7D7D7D;
$linkhovercolor: #03A9F4;
$photoblogtitlecolor: #626262;
$photoblogtext2color: #626262;
$photoblogbuttoncolor: #626262;
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
body{
    font-family: 'Playfair Display', serif;
}
.photoblog{
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    margin: 0 auto;
    justify-content: center;
    row-gap: 130px;
    column-gap: 65px;

    &__card{
        width: 30vw;
        &--text1{
        font-family: 'Ubuntu', sans-serif;
        font-weight: 300;
        font-size: 14px;
        color: $text1color;
        }
        &--title{
            font-weight: 400;
            font-size: 30px;
            color: var(--photoblogtitlecolor);
            color: $photoblogtitlecolor;
        }
        &--text2{
            font-weight: 400;
            font-size: 14px;
            color: $photoblogtext2color;
        }
        &--img{
            border-radius: 15px;
            margin-bottom: 30px;
        }
    }
}
.button{
    font-weight: 400;
    font-size: 14px;
    width: 165px;
    height: 60px;
    color: $photoblogbuttoncolor;
    position: relative;
    left: 510px;
    border-radius: 15px;
}
.container{
    width: 1206px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.header{
    margin-bottom: 50px;
    
    &__menu{
        display: flex;
        justify-content: space-around;
        &--link{
            font-weight: 800;
            font-size: 14px; 
            text-decoration: none;
            color: $linkcolor;
            &:hover{
                color: $linkhovercolor;
            }
        }
    }
}
